header {
  /* padding-top: 2em;
  margin-bottom: 2em; */
  background-color: transparent;
}

header .title {
  font-family: 'Rock-Salt';
  font-weight: bold;
  margin-bottom: 0.33em;
}

header p {
  margin-top: 0;
  /* max-width: 40em; */
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4em;
  padding: 3em 0;
}

@media screen and (min-width: 992px) {

  header .title {
    font-size: 2em;
  }


  section {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }


}

.iphone {
  max-height: 50vh
}