*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1em;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #eeeeee;

  background-color: #393939;
  background-image: linear-gradient(0deg,
    transparent 24%,
    rgba(255, 255, 255, 0.05) 25%,
    rgba(255, 255, 255, 0.05) 26%,
    transparent 27%,
    transparent 74%,
    rgba(255, 255, 255, 0.05) 75%,
    rgba(255, 255, 255, 0.05) 76%,
    transparent 77%,
    transparent),
    linear-gradient(90deg,
    transparent 24%,
    rgba(255, 255, 255, 0.05) 25%,
    rgba(255, 255, 255, 0.05) 26%,
    transparent 27%,
    transparent 74%,
    rgba(255, 255, 255, 0.05) 75%,
    rgba(255, 255, 255, 0.05) 76%,
    transparent 77%,
    transparent);
  /* height: 100%; */
  background-size: 50px 50px;

}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto-Mono';
}

a {
  color: #36a8ff;
}



p {
  line-height: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-center {
  text-align: center;
}

.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}


@media screen and (min-width: 1150px) {


  body {
    margin: 0;
    padding: 0 2em;
  }

  .row-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .row-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}